
<html>
<head>
    <title>todo app</title>
    <!--dont work-->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!--引入静态文件-->
  <link rel="stylesheet" href="/public/styles.css" type="text/css">
  <!--
  <script src="/assets/todo-list.js"></script>
  -->
</head>
<body>
    <div class="container">
        <h2>a simple todo list app</h2>

        <form action ="/addtask" method="POST">

            <input type="text" name="newtask" placeholder="add new task">
            <button>add task</button>

            <h2>active task</h2>

            <% for (var i = 0;i < task.length; i++) { %>
                <li><input type="checkbox" name="check" value="<%= task[i] %>"/> <%= task[i] %> </li>
            <% } %> 
            <button formaction="/removetask" type="submit" id="top">remove</button>

        </form>

        <h2>all task</h2>

        <h2>completed task</h2>

        <% for(var i = 0 ; i < complete.length; i++){ %>
            <li><input type="checkbox" checked> <%= complete[i] %> </li> 
        <% } %>

    </div>
</body>
</html>